{% extends 'authentication/auth_base.html' %}
{% load static %}
{% block form_name %}Register{% endblock %}
{% block form %}
<form method="post" action="{% url 'custregister' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_username">Username</label>
        <input type="text" class="form-control p_input" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus required id="id_username">
    </div>
    <div class="form-group">
        <label for="id_email">Email</label>
        <input type="email" class="form-control p_input" name="email" maxlength="320" autocapitalize="none" required id="id_email">
    </div>
    <div class="form-group">
        <label for="id_password1">Password</label>
        <input type="password" class="form-control p_input" name="password1" autocomplete="new-password" required id="id_password1">
    </div>
    <div class="form-group">
        <label for="id_password2">Confirm Password</label>
        <input type="password" class="form-control p_input" name="password2" autocomplete="new-password" required id="id_password2">
    </div>
    <div class="form-group d-flex align-items-center justify-content-between">
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input"> Remember me </label>
        </div>
        <a href="#" class="forgot-pass">Forgot password</a>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary btn-block enter-btn">Register</button>
    </div>
    <div class="d-flex">
        <button class="btn btn-facebook col mr-2">
            <i class="mdi mdi-facebook"></i> Facebook
        </button>
        <button class="btn btn-google col">
            <i class="mdi mdi-google-plus"></i> Google plus
        </button>
    </div>
    <p class="sign-up text-center">Already have an Account?<a href="/login/">Sign Up</a></p>
    <p class="terms">By creating an account you are accepting our<a href="#"> Terms & Conditions</a></p>
</form>
{% endblock %}
